@import './variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    /* Hide scrollbar potentially */
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utilities */
.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.mono {
    font-family: monospace;
}

canvas {
    touch-action: none;
}