:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Footer Input */
.footer-input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 5px 0;
  font-size: 0.9rem;
  flex: 1;
  outline: none;
  transition: all 0.3s ease;
}

.footer-input:focus {
  border-bottom: 1px solid #ff4d00;
}

.footer-input::placeholder {
  color: #666;
  transition: color 0.3s ease;
}

.footer-input:focus::placeholder {
  color: #888;
}

/* Footer Links */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff4d00;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}